<html ng-app='weahterApp'>

<head>
    <title>Weather History</title>
    <style>
        td {
            width: 40px;
            height: 40px;
            border: 1px solid black;
        }

        table {
            border: 1px solid black;
            border-spacing: 0;
        }
    </style>
    <script type='module'>
        import 'https://ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular.min.js'
        import './components.js'
    </script>
</head>

<body ng-controller="WeatherController">
    <input ng-model="search" id="example-ngModel">
    <!-- <div ng-repeat="x in weather | filter:search">{{x.place}}</div> -->

    <input type="date" ng-model="from_date">
    <input type="date" ng-model="to_date">
    <input type="button" value="Load" ng-click="filterDate(to_date,from_date)" /> <br /><br />

    <select ng-model="selectedCity">
        <option value="Horsens" selected="Horsens">Horsens</option>
        <option value="Aarhus" selected="Aarhus">Aarhus</option>
        <option value="Copenhagen" selected="Copenhagen">Copenhagen</option>
    </select>

    <div>

        Place : <input ng-model="place" /><br /><br />
        Value : <input ng-model="value" /><br /><br />
        Type : <input ng-model="type" /><br /><br />
        Unit : <input ng-model="unit" /><br /><br />
        Time : <input ng-model="time" /><br /><br />

        <input type="button" value="Send" ng-click="postdata(place, value, type, unit, time);loadData()"><br /><br />
        <input type="button" value="Load" ng-click="loadData()" /> <br /><br />

    </div>

    <table>
        <thead>
            <tr>
                <td>Place</td>
                <td>Value</td>
                <td>Type</td>
                <td>Unit</td>
                <td>Time</td>
            </tr>
        </thead>
        <tbody id='weather_data'>
            <tr ng-repeat="data in weatherRecord | filter:selectedCity; ">
                <td>{{data.place}}</td>
                <td>{{data.value}}</td>
                <td>{{data.type}}</td>
                <td>{{data.unit}}</td>
                <td>{{data.time}}</td>
            </tr>
        </tbody>
    </table>
</body>

</html>